:root {
    --primary-color: white;
    --accent-color: #D86386;
    --secondary-color: #1a1a1a;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
}
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: var(--primary-color);
    z-index: 100;
}
.header .header-container {
    height: 99px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container .navBtn {
    display: none;
}
.header-container .logo {
    height: 100%;
    cursor: pointer;
    background: var(--primary-color);
}
.header-container .navScreen ul {
    display: flex;
    gap: 30px;
}
.header-container .navScreen ul li {
    list-style: none;
    padding: 5px 30px;
    font-family: "Pliant";
    cursor: pointer;
}
.hero {
    margin: 100px 30px 0px 30px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .content {
    width: 50%;
} 
.hero .content h1 {
    font-family: "Pliant";
    font-size: 50px;
    margin: 0px;
}
.hero .content .subline {
    font-family: "Pliant";
    font-size: 20px;
    width: 80%;
    margin: 10px 0px;
}
.hero .content .CTA {
    font-family: "Pliant";
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid var(--secondary-color);
    background: none;
    margin-top: 20px;
    cursor: pointer;
    color: var(--secondary-color);
}
.hero img {
    width: 450px;
    height: 300px;
    border-radius: 10px;
    background: var(--primary-color);    
}
.catalog {
    margin: 50px 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    overflow-x: auto;
}

.catalog .catalog-card-summer {
    width: 400px;
    height: 250px;
    background: url(summer-catalogue.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: "Pliant";
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
}
.catalog .catalog-card-night {
    width: 400px;
    height: 250px;
    background: url(night-catalogue.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: "Pliant";
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
}
.catalog .catalog-card-travel {
    width: 400px;
    height: 250px;
    background: url(travel-catalogue.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-family: "Pliant";
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
}
.catalog .catalog-card-spring:hover, .catalog .catalog-card-winter:hover, .catalog .catalog-card-women:hover, .catalog .catalog-card-men:hover {
    transform: scale(0.97);
    transition: all 0.3s ease;
}

.about {
    margin: 50px 0px;
    background: #f2f2f2;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.about .about-container {
    width: 30%;
}
.about .aboutIMG {
    width: 450px;
    height: 300px;
    background: url(aboutIMG.jpg);
    background-size: cover;
    border-radius: 10px;
}
.about h2 {
    font-family: "Pliant";
    font-size: 30px;
    margin: 0px;
    text-decoration: underline;
}
.about p {
    font-family: "Pliant";
    font-size: 1rem;
    margin: 10px 0px;
    text-align: justify;
}
.testimonial {
    margin: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.testimonial h2 {
    font-family: "Pliant";
    font-size: 30px;
    margin: 0px auto;
}
.testimonial .testimonial-card-group {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.testimonial .testimonial-card-group .testimonial-card {
    width: 300px;
    height: 300px;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
.testimonial .testimonial-card-group .testimonial-card .user-pfp1 {
    width: 50px;
    height: 50px;
    background: url(sarah.png);
    background-size: cover;
    border-radius: 50%;
    background: var(--primary-color);
}
.testimonial .testimonial-card-group .testimonial-card .user-pfp2 {
    width: 50px;
    height: 50px;
    background: url(james.png);
    background-size: cover;
    border-radius: 50%;
    background: var(--primary-color);
}
.testimonial .testimonial-card-group .testimonial-card .user-pfp3 {
    width: 50px;
    height: 50px;
    background: url(maya.png);
    background-size: cover;
    border-radius: 50%;
    background: var(--primary-color);
}
.testimonial .testimonial-card-group .testimonial-card .user-name {
    font-family: "Pliant";
    font-size: 1rem;
    margin: 10px 0px 5px 0px;
}
.testimonial .testimonial-card-group .testimonial-card .user-review {
    font-family: "Pliant";
    font-size: 0.9rem;
    text-align: justify;
}
.testimonial .testimonial-card-group .testimonial-card .feedback {
    margin-top: 10px;
    font-family: "Pliant";
    font-size: 0.9rem;
    color: #1a1a1a;
    text-decoration: underline;
    cursor: pointer;
}
.footer {
    color: white;
    background: #1a1a1a;
    text-align: center;
    font-family: "Pliant";
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}
.footer .column-card {
    width: 200px;
    height: auto;
    margin: 20px;
    text-align: left;
}
.footer .column-card h2 {
    font-family: "Pliant";
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0px;
}
.footer .column.card p {
    font-family: "Pliant";
    font-size: 0.9rem;
    margin: 0px 0px;
}
.footer .media-social-column-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    font-size: 1.5rem;
    margin: 20px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header-container .navBtn {
        display: flex;
        height: 60px;
        width: 90px;
        background: none;
        flex-direction: column;
        justify-content: space-between;
        border: none;
    }
    .header-container .navBtn .bar-1 {
        background: #1a1a1a;
        width: 100%;
        height: 6%;
        transition: all 0.3s ease;
    }
    .header-container .navBtn .bar-2 {
        background: #1a1a1a;
        width: 100%;
        height: 5%;
        transition: all 0.3s ease;
    }
    .header-container .navBtn .bar-3 {
        background: #1a1a1a;
        width: 100%;
        height: 5%;
        transition: all 0.3s ease;
    }
    .header-container .navBtn.active .bar-1 {
        transform: rotate(45deg) translate(20px, 17px);
    }
    .header-container .navBtn.active .bar-2 {
        opacity: 0;
    }
    .header-container .navBtn.active .bar-3 {
        transform: rotate(-45deg) translate(20px, -17px);
    }
    .header-container .navScreen {
        position: fixed;
        top: 100px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        background: white;
        visibility: hidden;
        transition: all 0.3s ease;
        opacity: 0;
        z-index: 99;
    }
    .header-container .navScreen.active {
        visibility: visible;
        opacity: 1;
    }
    .header-container .navScreen ul {
        flex-direction: column;
        height: 100%;
        gap: 0px;
    }
    .header-container .navScreen ul li {
        padding: 50px 0px;
        border-bottom: 0.5px solid #1a1a1a;
        width: 85vw;
    }
    .hero {
        margin-top: 120px;
    }
    .hero .content {
        width: 100%;
    }
    .hero .content h1 {
        font-size: 4rem;
    }
    .hero img {
        display: none;
    }
    .catalog {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
    }
    .catalog .catalog-card-summer, .catalog .catalog-card-night, .catalog .catalog-card-travel {
        width: 100%;
        height: 250px;
    }
    
    .about { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about .about-container {
        width: 70%;
    }
    .testimonial .testimonial-card-group {
        flex-direction: column;
        align-items: center;
    }
    .testimonial .testimonial-card-group .testimonial-card {
        width: 100%;
        height: auto;
    }
    .testimonial .testimonial-card-group .testimonial-card .feedback {
        width: 90%;
        text-align: center;
    }
    .footer {
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
    }
    .footer .column-card {
        width: 80%;
        margin: 10px auto;
    }
    .footer .media-social-column-card {
        width: 95%;
        flex-direction: row;
        gap: 30px;
    }
}
